.ul.mx-auto.mt-10{class: "w-1/2"}
  .mb-5
    = render "search"
  .inline-flex.w-full.text-center.text-3xl.bg-gray-300.shadow-md.py-2.rounded-t-md
    .grid.grid-cols-5.flex-grow
      %p From:
      %p To:
      %p Date:
      %p Departure:
      %p Duration:
    .mx-7
  - if @flights
    = render "flights", flights: @flights